.idea/
.serverless/
node_modules/
.build/
.webpack/
dist/
coverage/
.aws/config
.aws/credentials

.env
.env.json
.env.*
!.env.test
!.env.example

.DS_Store
jest.setup.local.js
.vscode/settings.json

scripts/local-deploy.sh

# npm logs
.npm/